body,
.modal-content {
    background: #202124;
}

.modal-header {
    border-bottom-color: #404040;
}

.modal-footer {
    border-top-color: #404040;
}

.modal-close-button {
    position: absolute;
    right: 1rem;
}
